* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}
.title{
    color: #f6f8fc;
    text-align: center;
}
.content {
    background-color: #998d8d;
    margin:1rem auto;
    border-radius: 1rem;
    width: 90vw;
    padding: 1rem;
}
.pagination button{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination p {
    margin: 0px;
    padding: 0px;
    color: #504a4a;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
    }
}